$dark: #414040;
$red: #c22424;
.homepage {
    min-height: 45vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	justify-items: center;
    align-items: center;
    margin-bottom: 3rem;
	
}
.info-group{
    h1 {
		font-size: 3.4rem;
		padding: 0.5rem;
		position: absolute;
		color: white;
		left: 30%;
		top: 40%;
		background-color: $red;
    }
    ul{display: flex;
        padding: 0.5rem;
		position: absolute;
		color: white;
		left: 30%;
		top: 30%;
    }
    img{width: 3rem;}
}
.first-bg {
	height: 100%;
	width: 100%;
	background-image: url('../images/steak&chips.png');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 80%;
}
.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
	justify-items: center;
    align-content: center;
    padding: 2rem;
}
.recipe-group {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2rem;
}
.item {
	display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
	img {
		width: 100%;
	}
}
