$dark: #414040;
$red: #c22424;
$whiter-red: #c22424bb;
.recipepage {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	min-height: 60vh;
    background-color: #fff;
}
