$dark: #414040;
$red: #c22424;
$grey: #757575;
$whiter-red: #c22424bb;
.recipepage {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.2fr 1fr;
	justify-content: center;
	align-items: flex-start;
	padding: 1rem 12rem 1rem 12rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	min-height: 50vh;
	background-color: #fff;
	h1 {
		font-size: 1.9rem;
		margin-bottom: 1rem;
	}
	h2 {
		margin-bottom: 1rem;
	}
	h3 {
		font-size: 1.2rem;
		font-style: italic;
		border-bottom: 1px solid $grey;
	}
}
.recipepage-title {
	margin-bottom: 2rem;
	ul {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
	li {
		border-right: 1px solid $grey;
		padding-right: 1rem;
		padding-left: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		span {
			margin-left: 0.5rem;
		}
	}
	img {
		width: 1.8rem;
	}
}
.ingredients-group,
.dsc-list {
	display: flex;
	flex-direction: column;

	li {
		margin: 1rem 0 0 0;
	}
	ol {
		list-style: none;
		line-height: 1.6rem;
	
		li {
			max-width: 10rem;
			counter-increment: tabular-numbers;
			font-variant: tabular-numbers;
		}

		li:before {
			content: 'Step ' counter(tabular-numbers) '. ';
			color: $grey;
			margin:-4.7rem;
			margin-right: 0.5rem;
			padding: 0.3rem;
			font-weight: bold;
			border-right: 1px solid $grey;
			// transform: rotate(-50deg);
			// border-radius: 50%;
			// text-align: center;
			// box-shadow: 1px 1px 1px 1px #999;
		}
	}
}
.dsc-group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.imgs-group {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	img {
		justify-self: flex-end;
		align-self: flex-end;
		width: 33rem;
	}
}
@media screen and (max-width: 800px) {
	//------------------------------------800px--------------------
}
@media screen and (max-width: 570px) {
	//------------------------------------570px--------------------
}
